<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_DIR">$${sys:log.dir:-${sys:user.dir}/logs}</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %class{36}-%L %M - %msg%n</Property>
        <Property name="APP_LOG_NAME">watcher.log</Property>
    </Properties>

    <Appenders>
        <ScriptAppenderSelector name="SelectConsole">
            <Script language="JavaScript">
                <![CDATA[
                    var env = java.lang.System.getProperty("env");
                    env == 'prod' ? "Null" : "Console";
                ]]>
            </Script>
            <AppenderSet>
                <Console name="Console" target="SYSTEM_OUT">
                    <PatternLayout pattern="${PATTERN}"/>
                </Console>
                <Null name="Null"/>
            </AppenderSet>
        </ScriptAppenderSelector>

        <RollingRandomAccessFile name="AppLog"
                                 immediateFlush="true"
                                 fileName="${LOG_DIR}/${APP_LOG_NAME}"
                                 filePattern="${LOG_DIR}/${APP_LOG_NAME}.%d{yyyy-MM-dd}.gz">
            <PatternLayout>
                <pattern>${PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- 最多备份30天以内的日志，此处为策略限制，Delete中可以按自己需要用正则表达式编写 -->
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="${APP_LOG_NAME}.*.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <root level="info">
            <appender-ref ref="SelectConsole"/>
            <appender-ref ref="AppLog"/>
        </root>
    </Loggers>

</configuration>